
/* Your CSS Code here. */
.container{
	display:flex;
	element:inline element;
	width:200px;
	height:100px;
	flex-flow:column wrap;
	justify-content:center;
}
.item3{
	background-color:green;
}
.item1{
	background-color:red;
}
.item2{
	background-color:blue;
}
