
/* Your CSS Code here. */
.container{
	display:flex;
	width:100px;
	height:20px;
	flex-flow:row wrap;
	justify-content:center;
}
.item3{
	background-color:green;
	width:800;
	height:200;
}
.item1{
	background-color:red;
}
.item2{
	background-color:blue;
}
